<section class="container">
  <h2>Peoples</h2>

  <button class="btn" (click)="updatePeoples()" [disabled]="timer$ | async">
    Update<span *ngIf="timer$ | async"> (timeout: {{ timer$ | async }})</span>
  </button>

  <p *ngIf="loading$ | async; else content">Loading...</p>

  <ng-template #content>
    <ul class="peoples">
      <li *ngFor="let people of peoples$ | async as peoples">
        <button
          [class.existing-conversation]="people.conversationId"
          mat-flat-button
          (click)="goToConversation(people)"
          class="peoples__item"
        >
          {{ people.name }}
        </button>
      </li>
    </ul>
  </ng-template>
</section>
