<button (click)="updatePeoples()" [disabled]="timer$ | async">
  Update<span *ngIf="timer$ | async"> (timeout: {{ timer$ | async }})</span>
</button>

<p *ngIf="loading$ | async; else content">Loading...</p>

<ng-template #content>
  <ul>
    <li *ngFor="let people of peoples$ | async as peoples">
      <a [routerLink]="['groups', people.uid]">{{ people.name }}</a>
      <!-- <button *ngIf="group.createdBy === (userId$ | async)" (click)="deleteGroup(group.id)">
        Delete
      </button> -->
    </li>
  </ul>
</ng-template>
