$border-radius: 4px;

$error-color: #ff0000;
$success-color: #00ff00;

$primary-color: #3f51b5;
$secondary-color: #e89126;
$primary-color-light: #e3f2fd;
$primary-color-dark: #283593;
$btn-disabled-color-light: #b8b1b1;
$btn-disabled-color-dark: #757575;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $primary-color-light;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  &.dark-theme {
    background-color: $primary-color-dark;
    color: $primary-color-light;
  }
}

a,
a:visited {
  color: $primary-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  .dark-theme & {
    color: $secondary-color;
  }
}


.error-snackbar {
  width: fit-content;
  color: $primary-color;
  background-color: $primary-color-light;
  border-bottom: 3px solid $error-color;
}

.success-snackbar {
  width: fit-content;
  color: $primary-color;
  background-color: $primary-color-light;
  border-bottom: 3px solid $success-color;
}

button {
  &:disabled {
    color: $btn-disabled-color-dark;
  }
}

.btn {
  height: 36px;
  padding: 0 1rem;
  align-self: flex-start;
  color: #fafafa;
  background-color: #424242;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $btn-disabled-color-light;
    opacity: 1;
    cursor: not-allowed;
  }
}

.input {
  width: 100%;
  padding: 0 0.5rem;
  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
}


.messages {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 1px solid $primary-color-dark;
  border-radius: $border-radius;
  list-style: none;
  overflow: auto;
}

.messages__item {
  padding: 0.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  background-color: darken($primary-color-light, 15%);
}

.user-messages {
  align-self: flex-end;
}

.spinner {
  margin-top: 1rem;
  align-self: center;
}
