$border-radius: 5px;

$error-color: #ff0000;
$success-color: #00ff00;

$primary-color: #3f51b5;
$primary-color-light: #e3f2fd;
$primary-color-dark: #283593;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  &.dark-theme {
    background-color: $primary-color-dark;
  }
}

.error-snackbar {
  width: fit-content;
  color: $primary-color;
  background-color: $primary-color-light;
  border-bottom: 3px solid $error-color;
}

.success-snackbar {
  width: fit-content;
  color: $primary-color;
  background-color: $primary-color-light;
  border-bottom: 3px solid $success-color;
}
