<a class="back-link" routerLink="/">Back</a>

<mat-spinner class="spinner" *ngIf="loading$ | async; else content"></mat-spinner>

<ng-template #content>
  <ng-container *ngIf="!!(groupAuthorId$ | async); else notExist">
    <div class="btn-wrapper">
      <button
        class="btn"
        (click)="onUpdateMessages()"
        [disabled]="(timer$ | async) || (loading$ | async)"
      >
        Update<span *ngIf="timer$ | async"> (timeout: {{ timer$ | async }})</span>
      </button>

      <button
        class="btn"
        (click)="onDeleteGroup()"
        [disabled]="loading$ | async"
        *ngIf="(userId$ | async) === (groupAuthorId$ | async)"
      >
        Delete
      </button>
    </div>
    <ul class="messages">
      <li
        class="messages__item"
        *ngFor="let message of messages$ | async as messages"
        [class.user-messages]="(userId$ | async) === message.authorID"
      >
        <span>({{ message.createdAt | date }})</span>
        {{ message.author }}: {{ message.message }}
      </li>
      <li *ngIf="!(messages$ | async)?.length">No messages yet</li>
    </ul>

    <div class="input-wrapper">
      <input class="input" type="text" [formControl]="newMessage" placeholder="Message" />

      <button
        class="btn"
        (click)="onSendMessage()"
        [disabled]="(loading$ | async) || newMessage.invalid"
      >
        Send
      </button>
    </div>
  </ng-container>

  <ng-template #notExist>
    <p class="error-title">Gruop doesn't exist</p>
  </ng-template>
</ng-template>
