<a routerLink="/">Back</a>

<button (click)="onUpdateMessages()" [disabled]="(timer$ | async) || (loading$ | async)">
  Update<span *ngIf="timer$ | async"> (timeout: {{ timer$ | async }})</span>
</button>

<button
  (click)="onDeleteGroup()"
  [disabled]="loading$ | async"
  *ngIf="(userId$ | async) === (groupAuthorId$ | async)"
>
  Delete
</button>

<p *ngIf="loading$ | async; else content">Loading...</p>

<ng-template #content>
  <ul>
    <li
      *ngFor="let message of messages$ | async as messages"
      [class.user-messages]="(userId$ | async) === message.authorID"
    >
      <p>({{ message.createdAt | date }})</p>
      {{ message.authorID }}: {{ message.message }}
    </li>
  </ul>
</ng-template>

<input type="text" [formControl]="newMessage" placeholder="Message" />

<button (click)="onSendMessage()" [disabled]="(loading$ | async) || newMessage.invalid">
  Send
</button>
