@import 'styles.scss';

:host {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 350px;
  border-radius: $border-radius;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 13px 8px;
  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
}

.error {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: $error-color;
}

:host-context(.dark-theme) {
  button {
    color: $secondary-color;
  }

  a,
  a:visited {
    color: $secondary-color;
  }

  .input {
    color: $primary-color-light;
    border-color: $secondary-color;
  }
}
